body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.middle {
    display: flex;
    flex: 1;
    gap: 25px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

.book-container {
    border: 2px solid;
    border-radius: 15%;
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
